@font-face {
  font-family: Lemon;
  src: url(/src/assets/fonts/Lemon-round.ttf);
}

@font-face {
  font-family: main;
  src: url(/src/assets/fonts/Bender.otf);
}

@font-face {
  font-family: display;
  src: url(/src/assets/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: display2;
  src: url(/src/assets/fonts/InterTight-VariableFont_wght.ttf);
}

.font-main{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.font-logo{
  font-family: Lemon, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-display{
  font-family: display, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-display-2 {
  font-family: display2, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.bg-dark-gradient {
  background-image: linear-gradient(to left, rgb(29, 29, 29),rgb(32, 27, 27), rgb(26, 21, 21), rgb(29, 29, 29));
}

.line-height-150{
  line-height: 1.5;
}


.max-w-66pct{
  max-width: 66%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}


.glow-box {
  box-shadow: 0 0 2px 2px rgb(34, 190, 125);
  transition: box-shrgb(0, 255, 153) 0.3s ease;
}

.glow-box:hover {
  box-shadow: 0 0 2px 4px rgb(34, 190, 125);
}

.glow-box-red-top {
  box-shadow: 0 0 50px 2px rgb(244, 106, 104);
  transition: box-shrgb(0, 255, 153) 0.3s ease;
}

.glow-box-red {
  box-shadow: 0 0 10px 0px rgb(244, 106, 104);
  transition: box-shrgb(0, 255, 153) 0.3s ease;
}

.glow-box-red:hover {
  box-shadow: 0 0 20px 0px rgb(244, 106, 104);
}





.min-h-screen-d{
  min-height: 100dvh;
}