@font-face {
  font-family: Lemon;
  src: url(/src/assets/fonts/Lemon-round.ttf);
}

@font-face {
  font-family: main;
  src: url(/src/assets/fonts/Bender.otf);
}

@font-face {
  font-family: display;
  src: url(/src/assets/fonts/DMSerifDisplay-Regular.ttf);
}


.font-main{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.font-logo{
  font-family: Lemon, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-display{
  font-family: display, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.max-w-66pct{
  max-width: 66%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}


.glow-box {
  box-shadow: 0 0 2px 2px rgb(8, 140, 85);
  transition: box-shrgb(0, 255, 153) 0.3s ease;
}

.glow-box:hover {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.75);
}





.min-h-screen-d{
  min-height: 100dvh;
}